

/* Sidebar styling handled in Sidebar.css */

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}



/* Content */
.content {
  padding: 40px;
  justify-content: center;
}

.property-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: center;
}

.property-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.property-info {
  padding: 20px;
}

.property-info h4 {
  margin: 10px 0;
  color: #2f49a6;
}

.property-info p {
  color: #333;
  line-height: 1.5;
}
